/* TODO Add site wide styles */

/* dark theme
darkest: #111111
dark gray: #303030
lighter gray: #595959
wine color accent: #55001e; */

/* main {
  margin-top: 50px;
  height: 100%;
  width: auto;
  min-height: 95vh;
  background-image: url("https://indiegogo-clone.s3.us-east-2.amazonaws.com/barrel-room.jpg");
  color: white;
  background-color: rgba(0, 0, 0, 1);
} */

main {
  margin-top: 50px;
  height: 100%;
  width: auto;
  min-height: 95vh;
  background-color: black;
  color: white;
}

* {
  font-family: "Josefin Sans", sans-serif;
}

.wine-color.background {
  background-color: #55001e;
  color: white;
}

.wine-color.background:hover {
  color: #e4a853;
}

#loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
