/* TODO Add site wide styles */

/* dark theme
darkest: #111111 
dark gray: #303030
lighter gray: #595959
wine color accent: #55001e; */



main {
  margin-top: 50px;
  height: 100%;
  width: auto;
  min-height: 100vh;
  background-color: #55001e;
  color: white;
}

* {
}
