#favorites-title {
  font-size: 40px;
}

.follow-wine-container {
  border-top: 1px solid lightgray;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}
.follow-wine-pic {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 15px;
}
.follow-wine-details {
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
}

.follow-wine-country {
  color: gray;
  font-size: 16px;
}

a.follow-wine-title {
  margin-bottom: 5px;
}

.follow-wine-title:hover {
  color: #e4a853;
}

a.follow-wine-winery {
  margin-top: 10px;
}

a.winery-name {
  color: #595959;
}

a.winery-name:hover {
  color: #e4a853;
}
