div.form-container {
  /* background-color: black; */
  display: grid;
  min-height: 90vh;
  grid-template-rows: 100px 3fr 100px;
  grid-template-columns: 1fr;
}

div.form-container > div {
  /* border: 1px solid yellow; */
}

#form-navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button.next-page {
  justify-self: flex-end;
  margin-left: auto;
}

#submit-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#no-matches-container {
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-logo {
  max-height: 400px;
  /* box-shadow: 2px 2px 2px gray; */
}

#search-logo:hover {
  cursor: pointer;
}

.form-nav {
  color: white;
  font-size: 2vw;
}
