#home-page-container {
  /* background-color: ; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.home-text-display {
  position: absolute;
  top: 25%;
  font-size: 100px;
  color: #e4a853;
}

.char {
  font-size: 64px;
  height: 64px;
  animation: an 1s ease-out 1 both;
  display: inline-block;
}

@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px)
      rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}

#splash-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  object-fit: cover;
}
