.match-tile {
  width: 100%;
  height: 80%;
  min-height: 500px;
  height: 200px;
}

.horizontal-scroll-wrapper {
  width: 800px;
  height: 400pxpx;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
  transform-origin: right top;
  transform: rotate(-90deg) translateY(-100px);
}

.horizontal-scroll-wrapper > div {
  width: 300px;
  height: 300px;
  transform: rotate(90deg);
  transform-origin: right top;
}
