.horizontal-scroll-wrapper {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 80vh;
}

.match-container {
  flex: 0 0 auto;
  min-width: 300px;
  width: 600px;
  max-height: 600px;
  margin: 30px;
  position: relative;
  display: flex;
  align-items: center;
}
.match-background {
  top: 20%;
  position: absolute;
  width: 100%;
  height: 60%;
  background-color: rgba(85, 0, 30, 0.8);
  border-radius: 70%;
  z-index: 3;
}

/* .match-container :hover {
  background-color: rgba(133, 3, 15, 0.6);
} */

.match-image {
  min-height: 400px;
  max-height: 400px;
  min-width: 200px;
  max-width: 300px;
  border-radius: 10%;
}

.match-content-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 5;
  width: 100%;
  padding: 10px;
  max-height: 400px;
}

.match-content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 600;
  width: 150px;
}

.match-content-left span {
  padding: 5px;
}

.match-content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: italic;
  width: 150px;
}

.match-content-right span {
  padding: 5px;
}

.match-content-container span {
  color: #f9f9f9;
}

.match-name {
  /* max-width: 120px; */
  text-align: right;
}
