nav.navbar {
  background-color: black;
  border-bottom: 1px solid white;
}

nav.navbar a {
  color: white;
}

nav.navbar a:hover {
  color: #e4a853;
}

#vinify-logo {
  max-height: 50px;
}

#main-nav .navbar-menu{
  background-color: black;
}

/* #main-nav .navbar-link {
  color: #e4a853;
} */
