.choose-one {
  text-align: center;
  color: #303030;
}

.option {
  align-items: center;
  display: flex;
  justify-content: center;
  /* border: 1px solid lime; */
}

.option-unselected {
  border: 5px solid #303030;
  border-radius: 10%;
}

.option-selected {
  border: 5px solid white;
  border-radius: 10%;
}

.option-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(17, 17, 17, 0.3);
  height: 200px;
  width: 200px;
}

div.option-content:hover {
  cursor: pointer;
}

.option-text {
  color: white;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.options-grid-2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  min-height: 300px;
  height: 100%;
}

.options-2-num-1 {
  grid-area: 1/ 1 / span 1 / span 1;
}

.options-2-num-2 {
  grid-area: 1/ 2 / span 1 / span 1;
}

.option-content-3 {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  padding-top: 3%;
}

.options-grid-3 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  min-height: 300px;
  height: 100%;
}

.options-3-num-1 {
  grid-area: 1/ 1 / span 1 / span 1;
}

.options-3-num-2 {
  grid-area: 1/ 2 / span 1 / span 1;
}

.options-3-num-3 {
  grid-area: 1/ 3 / span 1 / span 1;
}

/* .option-content-3 {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    padding-top: 3%;
} */

.options-grid-4 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  min-height: 500px;
  height: 100%;
}

.options-4-num-1 {
  grid-area: 1/ 1 / span 1 / span 1;
}

.options-4-num-2 {
  grid-area: 1/ 2 / span 1 / span 1;
}

.options-4-num-3 {
  grid-area: 2/ 1 / span 1 / span 1;
}

.options-4-num-4 {
  grid-area: 2/ 2 / span 1 / span 1;
}

/* .option-content-5 {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    padding-top: 3%;
} */

.options-grid-5 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  min-height: 500px;
  height: 100%;
}

.options-5-num-1 {
  grid-area: 1/ 1 / span 1 / span 1;
}

.options-5-num-2 {
  grid-area: 1/ 3 / span 1 / span 1;
}

.options-5-num-3 {
  grid-area: 1/ 5 / span 1 / span 1;
}
.options-5-num-4 {
  grid-area: 2/ 2 / span 1 / span 1;
}
.options-5-num-5 {
  grid-area: 2/ 4 / span 1 / span 1;
}

/* .option-content-6 {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    padding-top: 3%;
} */

.options-grid-6 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  min-height: 500px;
  height: 100%;
}

.options-6-num-1 {
  grid-area: 1/ 1 / span 1 / span 1;
}

.options-6-num-2 {
  grid-area: 1/ 2 / span 1 / span 1;
}

.options-6-num-3 {
  grid-area: 1/ 3 / span 1 / span 1;
}
.options-6-num-4 {
  grid-area: 2/ 1 / span 1 / span 1;
}
.options-6-num-5 {
  grid-area: 2/ 2 / span 1 / span 1;
}
.options-6-num-6 {
  grid-area: 2/ 3 / span 1 / span 1;
}

/* .option-content-6 {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    padding-top: 3%;
} */

.options-grid-7 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  /* min-height: 750px; */
  height: 600px;
  height: 100%;
}

.options-7-num-1 {
  grid-area: 1/ 2 / span 1 / span 1;
}

.options-7-num-2 {
  grid-area: 1 / 4 / span 1 / span 1;
}

.options-7-num-3 {
  grid-area: 2 / 1 / span 1 / span 1;
}
.options-7-num-4 {
  grid-area: 2/ 3 / span 1 / span 1;
}
.options-7-num-5 {
  grid-area: 2/ 5 / span 1 / span 1;
}
.options-7-num-6 {
  grid-area: 3/ 2 / span 1 / span 1;
}
.options-7-num-7 {
  grid-area: 3/ 4 / span 1 / span 1;
}

/* .option-content-6 {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    padding-top: 3%;
} */

.options-grid-8 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  height: 600px;

  height: 100%;
}

.options-8-num-1 {
  grid-area: 1/ 1 / span 1 / span 1;
}

.options-8-num-2 {
  grid-area: 1 / 3 / span 1 / span 1;
}

.options-8-num-3 {
  grid-area: 1 / 5 / span 1 / span 1;
}
.options-8-num-4 {
  grid-area: 2/ 2 / span 1 / span 1;
}
.options-8-num-5 {
  grid-area: 2/ 4 / span 1 / span 1;
}
.options-8-num-6 {
  grid-area: 3/ 1 / span 1 / span 1;
}
.options-8-num-7 {
  grid-area: 3/ 3 / span 1 / span 1;
}
.options-8-num-8 {
  grid-area: 3/ 5 / span 1 / span 1;
}

.option-content-9 {
  margin-bottom: 10px;
}

.options-grid-9 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 600px;

  height: 100%;
}

.options-9-num-1 {
  grid-area: 1/ 1 / span 1 / span 1;
}

.options-9-num-2 {
  grid-area: 1 / 2 / span 1 / span 1;
}

.options-9-num-3 {
  grid-area: 1 / 3 / span 1 / span 1;
}
.options-9-num-4 {
  grid-area: 2/ 1 / span 1 / span 1;
}
.options-9-num-5 {
  grid-area: 2/ 2 / span 1 / span 1;
}
.options-9-num-6 {
  grid-area: 2/ 3 / span 1 / span 1;
}
.options-9-num-7 {
  grid-area: 3/ 1 / span 1 / span 1;
}
.options-9-num-8 {
  grid-area: 3/ 2 / span 1 / span 1;
}
.options-9-num-9 {
  grid-area: 3/ 3 / span 1 / span 1;
}
