#output-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #output-text {
  font-size: 30px;
} */

#output-container span,
#output-container div {
  font-size: 40px;
}
