#wine-details-container {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  /* background-color: #595959; */
}

#wine-details-container div,
#wine-details-container span,
#wine-details-container h3,
#wine-details-container h1,
#wine-details-container header {
  color: #e4a853;
}

.wine-page-image {
  max-height: 100%;
  max-width: 100%;
}

.about-section {
  border-bottom: 1px solid #595959;
  display: flex;
  flex-direction: column;
}
